<app-header titulo="DateTime"></app-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>

    <div>
      <ion-item>
        <ion-label>Fecha de nacimiento</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </ion-item>
    </div>
  </ion-list>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime mode="ios" id="datetime" presentation="date" [preferWheel]="true" locale="es-ES"
        [showDefaultButtons]="true"> </ion-datetime>
    </ng-template>
  </ion-modal>

</ion-content>
